.new__banners {

    &__background {
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 85px;

        &__title {

            background-size: cover;
            background-repeat: no-repeat;
            height: 380px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            background-position: right;
            -moz-box-shadow:    inset  0 -10px 20px -10px #0D131C;
            -webkit-box-shadow: inset  0 -10px 20px -10px #0D131C;
            box-shadow:        inset  0 -50px 35px -10px #0D131C;

            h1 {
                text-align: initial;
                font-size: 16px;
                padding-bottom: 35px;
                line-height: 32px;
            }
            &--logo {
                font-weight: 900;
                font-size: 50px;
                text-transform: uppercase;
                color: #E91E63;
            }
            &--about {
                font-weight: 900;
                font-size: 37px;
                text-transform: uppercase;
                color: #fff;
            }
        }
        &__boxes {

            &__item {

                &--img {
                    border-radius: 12px;
                }
            }
        }
    }
}


.btn__viewall {
    color: #ffffff;
    background: #202a39;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    /* height: 30px; */
    font-weight: 400;
    font-size: 13px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    max-height: 40px;
}

.slick__prev {
    color: #ffffff;
    background: #202a39;
    border: none;
    padding: 10px 15px;
    /* height: 30px; */
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    max-height: 40px;
}
.new__banners__background__boxes__item {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.6s ease-out;
    border-radius: 12px;
    display: block;
}
.new__banners__background__boxes__item--img:hover {
    transform: scale(1.03);
    transition: all .3s ease-out;
}
@media screen and (max-width: 621px) {

    .new__banners {
        margin-top: 30px;
    }
    .new__banners__background {
        padding: 0;
    }
    .control1 .general__control {
        flex-wrap: wrap;
        padding: 0px 10px;
    }
    .control2 .general__control {
        flex-wrap: nowrap;
        // padding: 0px 10px;
        gap: 10px;
    }

}
