.mobile-menu {
    display: none;
    height: 78px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #16202d;
    z-index: 10000;
}

.mobile-menu__contents {
    position: relative;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 5px;
    margin: auto;
    font-size: 11px;
    color: #7990b1;
}

.mobile-menu__contents img:nth-child(2) {
    background: #ffffff1a;
}

.mobile-menu__contents img {
    width: 33px;
}

.mobile-menu__contents .active {
    color: #ff2b5d !important; //#a3783d old active color
}

.mobile-menu__link_text {
    overflow: auto;
}

// glass effect

// $anim-duration: 5; // in seconds
// $anim-speed: 0.65; // in seconds

// :root {
//     --shine-degree: 120deg;
//     --shine-color: rgba(255, 255, 255, 0.2);
//     --shine-effect: linear-gradient(var(--shine-degree),
//             transparent,
//             var(--shine-color),
//             transparent);
//     --shine-transition: all #{$anim-speed}s ease-in-out;
// }

//
//  .glass {
//     position: relative;
//     overflow: hidden;

//     &:not(:last-child) {
//       margin-bottom: 1px;
//     }
//     // padding: 1rem 3rem;
//     border-radius: 50%;
//     text-decoration: none;
//     // border: none rgba(255, 255, 255, 0.2);
//     color: #f4f4f4;
//     background: transparent;


//     &::before {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: -100%;
//       width: 100%;
//       height: 100%;
//       background: var(--shine-effect);
//       transition: var(--shine-transition);
//     }
//     &:hover {
//       box-shadow: 1px 1px 30px 2px rgba(250, 47, 92, 0.5);

//       &::before {
//         left: 100%;
//       }
//     }
//   }
.glass {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    text-decoration: none;
    background: transparent;
    display: block;


    .hover-image {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover .hover-image {
        display: block;
        width: 84px;
        margin-top: 3px;
    }

    &:hover img:first-child {
        display: none;
    }

    .mobile-menu__link-icon {
        position: relative;
    }

    &:hover .mobile-menu__link-icon {
        border: 30px solid #16202d;
        border-radius: 50px;

    }
}


.mobile-menu__link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #7990b1;
    font-weight: bold;
}

.mobile-menu__link-icon {
    display: block !important;
    margin-bottom: 5px;
    font-size: 20px;
}

.mobile-menu__submenu {
    position: absolute;
    bottom: 55px;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 100;
    background: #1d1c1c;
    padding: 0 8px
}

.mobile-menu__submenu-item {
    width: 50%
}

.mobile-menu__submenu-item__link {
    height: 100%;
    display: block;
    font-size: 12px
}


.mobile-menu__submenu-item__link-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #282828;
    padding: 10px 15px;
    height: 100%
}

.mobile-menu__submenu-item__link-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #ffc200;
    opacity: .8;
    position: relative
}

.mobile-menu__submenu-item:hover .lightable:after {
    display: block
}

.mobile-menu__submenu-item:hover .mobile-menu__submenu-item__link-icon {
    opacity: 1
}

.mobile-menu__submenu-item:hover .mobile-menu__submenu-item__link-bank,
.mobile-menu__submenu-item:hover .mobile-menu__submenu-item__link-name {
    color: #fff
}

.mobile-menu__link:hover {
    color: #7990b1
}

.mobile-menu__link {
    position: relative
}

.lightable:after {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -20;
    width: 0;
    height: 0;
    -webkit-box-shadow: 0 0 20px 8px rgba(255, 194, 0, .5);
    box-shadow: 0 0 20px 8px rgba(255, 194, 0, .5)
}

.mobile-menu__submenu-item__link-bank {
    font-weight: 700
}

.mobile-menu__submenu-item__link-name {
    margin-bottom: 5px
}

.mobile-menu__submenu-item__link-name_no-margin {
    margin-bottom: 0
}

.mobile-menu__submenu__vertical-divider {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 90%;
    width: 1px;
    background: #282828
}

.mobile-menu__submenu-item__games-no-balance .mobile-menu__submenu-item__link-wrapper {
    padding: 15px 15px
}

.mobile-menu__submenu-item_last-in-row .mobile-menu__submenu-item__link-wrapper {
    border-right: none
}

.mobile-menu__submenu-item_last-in-column .mobile-menu__submenu-item__link-wrapper {
    border-bottom: none
}

.mobile-menu__submenu-item_first-in-row .mobile-menu__submenu-item__link-wrapper {
    padding-left: 7px
}

.mobile-menu__submenu-item_usual-icons .mobile-menu__submenu-item__link-icon {
    color: #cdcdcd;
    opacity: 1;
    position: relative
}

.mobile-menu__submenu-item_usual-icons.mobile-menu__submenu-item:hover .mobile-menu__submenu-item__link-icon {
    color: #fff
}

.mobile-menu__submenu-item.mobile-menu__submenu-item_social {
    width: 100%;
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.mobile-menu__submenu_more .mobile-menu__submenu__vertical-divider {
    top: 34%;
    height: 58%
}

.mobile-menu__submenu-item_social-link {
    margin: 0 7px;
    background: #242323;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 16px
}

.mobile-menu__submenu-item_social-link:hover {
    color: #fff
}

::-moz-selection {
    background: #000
}

::selection {
    background: #000
}

@media(max-width:891px) {
    .mobile-menu {
        display: block
    }
}

@media(max-width:359px) {
    .mobile-menu__contents {
        padding: 0
    }
}

.navbar .btn-vk i {
    font-size: 25px;
    margin-right: 8px
}

a {
    color: #cdcdcd
}

@media(min-width:992px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 6px;
        background-color: #242323
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #636363
    }
}

::-webkit-input-placeholder {
    color: #818181;
    font-size: 16px;
    font-weight: 400
}

::-moz-placeholder {
    color: #818181;
    font-size: 16px;
    font-weight: 400
}

:-ms-input-placeholder {
    color: #818181;
    font-size: 16px;
    font-weight: 400
}

:-moz-placeholder {
    color: #818181;
    font-size: 16px;
    font-weight: 400
}

.window-heading {
    background: #1b1d23;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px
}

.game-container {
    position: relative;
    margin: 20px auto;
    max-width: 950px
}

.colored-link {
    text-decoration: none;
    color: #ffc200;
    border-bottom: 1px dashed #ffc200;
    transition: .2s ease
}

.text-heading {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px
}

.colored-link:hover {
    color: #e0ac00
}

.contact-us {
    display: flex;
    width: 100%
}

.contact {
    flex: 1;
    border: 2px solid #4986f5f2;
    border-radius: 5px;
    padding: 15px 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: relative
}

.contact:last-of-type {
    margin-right: 0
}

.contact__image {
    font-size: 30px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid #333;
    color: #fff
}

.contact__info {
    margin-left: 15px;
    line-height: 1.45
}

.contact__title {
    font-size: 16px;
    color: #fff;
    font-weight: 500
}

.contact__link {
    font-size: 13px;
    margin-bottom: 2px
}

.contact__goto {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg)
}

.contact__goto a {
    background: #242323;
    padding: 10px 10px 7px 10px;
    border-radius: 4px;
    transition: .2s;
    color: #fff
}

.contact__goto a:hover {
    background: #3a7bed
}

.help-q {
    border: 1px solid #333;
    padding: 15px;
    color: #cdcdcd;
    border-radius: 4px;
    transition: .2s color;
    cursor: pointer;
    margin-top: 15px
}

.help-q:hover {
    color: #fff
}

.help-a {
    border: 1px solid #333;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 15px;
    color: #cdcdcd;
    font-size: 13px;
    line-height: 1.4
}

.help-a__way {
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    margin-bottom: 2px
}

.help-a__text {
    margin-bottom: 10px
}

.help-a__text:last-of-type {
    margin-bottom: 0
}

.contact-time {
    color: #7d7d7d;
    font-size: 13px
}

.faq-q {
    border-radius: 7px;
    margin-bottom: 20px
}

.window-body {
    padding: 15px
}

::-moz-selection {
    background: #000
}

::selection {
    background: #000
}

@media(max-width:991px) {
    .contact-us {
        flex-direction: column
    }

    .contact {
        margin-right: 0;
        margin-bottom: 10px
    }

    .contact:last-of-type {
        margin-bottom: 0
    }
}

@media(max-width:780px) {
    .game-container {
        margin: 10px auto
    }
}

@media(max-width:500px) {
    .contact__image {
        display: none
    }

    .contact__info {
        margin-left: 0
    }

    .contact__goto {
        right: 7px
    }
}

@font-face {
    font-family: touchcash;
    src: url(https://cdn.29bet.com/assets/fonts/touchcash.eot);
    src: url(https://cdn.29bet.com/assets/fonts/touchcash.eot) format('embedded-opentype'), url(https://cdn.29bet.com/assets/fonts/touchcash.ttf) format('truetype'), url(https://cdn.29bet.com/assets/fonts/touchcash.woff) format('woff'), url(https://cdn.29bet.com/assets/fonts/touchcash.svg) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class*=" icon-"],
[class^=icon-] {
    font-family: touchcash !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-keno:before {
    content: "\e900"
}

.icon-hilo:before {
    content: "\e901"
}

.icon-crash:before {
    content: "\e902"
}

.icon-blackjack:before {
    content: "\e903"
}

.icon-stairs:before {
    content: "\e904"
}

.icon-roulette:before {
    content: "\e905"
}

.pageLoader {
    z-index: 999999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh
}

.pageLoader {
    background: #0d131c
}

.pageLoader .error {
    margin-top: 120px;
    text-align: center
}

.pageLoader .error,
.pageLoader .loader-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.pageLoader .loader-main {
    width: unset;
    height: unset
}

.loader-main {
    width: 100%;
    height: 100%;
    position: absolute
}

@-webkit-keyframes pspin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes pspin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

.money-block__money-area-demo {
    font-size: 15px
}

.money-block__money-area-demo {
    color: #fff;
    font-weight: 800;
    background: #272d39d1;
    cursor: default;
    display: inline-block;
    width: 250px;
    font-size: 16px;
    border-radius: 6px;
    padding: 0 10px 0 45px;
    height: 40px;
    line-height: 41px
}

@media(max-width:991px) {
    .money-block__money-icon {
        left: 10px
    }

    .money-block__money-area-demo {
        padding: 0 10px 0 36px
    }

    .money-block__money-area-demo {
        width: 210px
    }
}

@media (max-width:780px) {
    .money-block__money-area-demo {
        width: 200px
    }
}

@media(max-width:359px) {
    .money-block__money-area-demo {
        font-size: 15px
    }

    .money-block__money-area-demo {
        width: 190px
    }
}

@media(max-width:359px) {
    .money-block__money-area-demo {
        font-size: 15px;
    }

    .money-block__money-area-demo {
        width: 190px;
    }
}

@media(max-width:320px) {

    .navbar .btn-vk,
    .navbar .btn-cc {
        width: 80px;
    }
}

@media(max-width:319px) {

    .navbar .btn-vk,
    .navbar .btn-cc {
        display: none;
    }
}

@media(max-width: 991px) {
    .floatingButtonWrap {
        bottom: 85px !important;
    }
}

.floatingButtonWrap {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999999999;
}

.floatingButtonInner {
    position: relative;
}

.floatingButton {
    display: block;
    width: 55px;
    height: 55px;
    text-align: center;
    background: #fa2f5c;
    color: #fff;
    line-height: 50px;
    position: absolute;
    border-radius: 50% 50%;
    bottom: 0px;
    right: 0px;
    border: 5px solid #fa2f5c;
    opacity: 1;
    transition: all 0.4s;

}

.floatingButton .fa {
    font-size: 15px !important;
}

.floatingButton.open,
.floatingButton:hover,
.floatingButton:focus,
.floatingButton:active {
    opacity: 1;
    color: #fff;
}

.floatingButton .fa {
    transform: rotate(0deg);
    transition: all 0.4s;
}

.floatingButton.open .fa {
    transform: rotate(270deg);
}

.floatingMenu {
    position: absolute;
    bottom: 55px;
    right: 0px;
    display: none;
}

.floatingMenu li {
    width: 100%;
    float: right;
    list-style: none;
    text-align: right;
    margin-bottom: 5px;
}

.floatingMenu li a {
    padding: 8px 15px;
    display: inline-block;
    background: #202a39;
    color: #93acd3;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s;
    box-shadow: #{'1px 1px 4px rgb(17 25 35 / 65%)'};
    font-size: 16px;
    font-weight: 500;
}

.floatingMenu li a:hover {
    margin-right: 10px;
    text-decoration: none;
}

.contact__btn {
    margin-top: 10px;
}
